<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Resultados</h1>
    <p>Tu nota es {{nota}}</p>

    <form action="{% url 'examen:registro' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="nota" value="{{nota}}"/>
        Nombre : <input type="text" name="nombre"/><br/>
        Email : <input type="text" name="email" /><br/>
        <input type="submit" value="REGISTRAR NOTA DEL ALUMNO"/>
    </form>
</body>
</html>